.main_container{
  background-color: bisque;
  width: 50%;
  margin: auto;
  box-shadow: 20px 20px 30px black;
}

.main_container h3{
   text-align: center;
   text-shadow: 10px 10px 30px black;


}
table tr td input{
    width:20vw;
    height:4vh;
}

table tr td{
    padding-right: 50px;
}
.table2{
    width: 100%;
    margin: auto;
}
.table2 td{
    text-align: center;
    font-size: 2vw;
}

button{
    padding: 2vh 3vw 2vh 3vw;
    margin-top: 20px;
    margin-bottom: 20px;
}



/* Q4. Using class components create a username list as shown. */

.sub_Box1{
    /* border: 1px solid black; */
    width:50%;
    margin: auto;
}

.sub_Box2{
    /* border:1px solid black; */
    width:50%;
    margin: auto;
    background-color: blanchedalmond;
    box-shadow: 20px 20px 20px black;
}

.sub_sub_Box1{
    border: 1px solid black;
    /* margin-bottom: 2px; */
}

/* Q3. Move items between two groups as shown in attachment. */
.Groups{
    width: 50%;
    margin: auto;
    border: 1px solid black;
    box-shadow: 20px 20px 20px black;
    background-color: crimson;
}

.group1{
    display: inline-block;
    width: 12vw;
    margin: 10%;
    box-shadow: 20px 20px 20px black;
    text-align: center;
    background-color: cadetblue;
}

.group2{
    display: inline-block;
    width: 12vw;
    margin: 10%;
    box-shadow: 20px 20px 20px black;
    text-align: center;
    background-color: cadetblue;

}

select{
    width: 100%;
    height: 200px;
    text-align: center;
}

.icons{
    display: inline-block;
    border: 1px solid black;
    width: 10%;
    box-shadow: 20px 20px 20px black;
}

